.item-comment
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;

    border: 1px solid #c3c3c3;
    width: 80%;
    margin: 10px 10%;
    border-radius: 20px;
    color: #1eb2a6;
}

.user-comment a
{
    margin-right: 20px;
}


.fa-star {
    color: #ffca81;
}

.show-comment::-scrollbar {
    display: unset !important;

}

.show-comment {
    margin-top: 20px;
    height: 100%;
    max-height: 250px;
    min-height: 70px;
    overflow: auto;
}