.btn-move-to-top{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: linear-gradient(108deg, #82ccdd, transparent);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
}