.btn-move-to-top{
    display: none;
    position: fixed;
    bottom: 25px;
    right: 100px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    background: linear-gradient(223deg, rgb(30 178 166), transparent);
    color: rgba(30, 178, 166,0.5);
    cursor: pointer;
    padding: 0;
    background: transparent;
    border-radius: 57%;
}

.rotate{
    transform: rotate(-90deg)
}