.jmcIxG {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
}
.cDyoq:hover {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
}
.cDyoq {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
    color: #fff;
}

/* STYLE FOR GG MAP */
.style-gg-map {
    width: 45% !important;
    position: absolute;
    height: 74% !important;
    right: 5% !important;
}

@media (max-width: 991px) {
    .style-gg-map {
        width: 80% !important;
        position: absolute;
        height:60% !important;
        right: 10% !important;
    }
  }