.jmcIxG {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
}
.cDyoq:hover {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
}
.cDyoq {
    background-color: rgb(30, 178, 166) !important;
    box-shadow: 0 0 1px 3px rgb(30, 178, 166) !important;
    color: #fff;
}

.style-gg-map {
    height: 74% !important;
    right: 5% !important;
    width: 45% !important;
}

button.sc-bkzZxe{
    display: none;
}

@media (max-width:991px){
    .style-gg-map {
        height: 60% !important;
        right: 15% !important;
        width: 70% !important;
    }
}

.iLquPE{
    display: none;
}