body::-webkit-scrollbar {
  display: none;
}
.kQhMIh::webkit-scrollbar{
  display: none
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cJeRRR {
  background-color : rgb(30 178 166) !important;
  box-shadow : 0 0 1px 3px rgb(30 178 166) !important;
}

.lgksPe:hover:enabled, .lgksPe:focus:enabled {
  background-color : rgb(30 178 166) !important;
}

.validate{
  color: red;
  float: left;
  font-size: 15px;
}

.none-scroll-bar ::-webkit-scrollbar{
  display: none;
}
